@model CreateBrandDto
@{
    ViewData["Title"] = "CreateBrand";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Marka Ekleme Sayfası</h4>
                <br />
                <form method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="brandName">Marka Adı</label>
                        <input type="text" asp-for="BrandName" class="form-control" id="brandName" placeholder="Marka Adı">
                        <br />
                        <label for="brandImage">Marka Görseli</label>
                        <input type="file" asp-for="Image" class="form-control" id="brandImage">
                        <br />
                    </div>
                    <button type="submit" class="btn btn-primary">Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</section>