﻿<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Menü</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AppUser/MyOrder/MyOrderList/">
                <i class="mdi mdi-view-module menu-icon"></i>
                <span class="menu-title">Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AppUser/Message/Inbox/">
                <i class="mdi mdi-message menu-icon"></i>
                <span class="menu-title">Gelen Mesajlarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AppUser/Message/Sendbox/">
                <i class="mdi mdi-message-reply menu-icon"></i>
                <span class="menu-title">Giden Mesajlarım</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/AppUser/Message/CreateMessage/">
                <i class="mdi mdi-message-plus menu-icon"></i>
                <span class="menu-title">Yeni Mesaj Gönder</span>
            </a>
        </li>
    </ul>
</nav>