<div class="col-lg-5 mb-5">
    <div class="bg-light pr-5 pl-5 py-4">
        <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>41900 Derince, Kocaeli, TR</p>
        <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>webproject@example.com</p>
        <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+90 123 456 78 90</p>
    </div>
</div>