@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Price Start -->
@*             @await Component.InvokeAsync("_ProductListPriceFilterComponentPartial") *@
            <!-- Color Start -->
@*             @await Component.InvokeAsync("_ProductListColorFilterComponentPartial") *@
            <!-- Size Start -->
@*             @await Component.InvokeAsync("_ProductListSizeFilterComponentPartial") *@
        </div>
        <!-- Shop Product Start -->
        <div class="col-lg-12 col-md-12">
            <div class="row pb-3">
@*                 @await Component.InvokeAsync("_GetProductCountProductListComponentPartial") *@

                @await Component.InvokeAsync("_ProductListComponentPartial", new { id = ViewData["cId"] })

@*                 @await Component.InvokeAsync("_ProductListPaginationComponentPartial") *@
            </div>
        </div>
    </div>
</div>